/* Rimuovi frecce numeri */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Per Firefox */
}

/* Formattazione caselle*/
input[type="number"],
input[type="text"]{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    text-align: right;
    color: #333;
    width: 100%;
    border-radius: 0.25rem;
    padding-left: 5px;
    padding-right: 6px;
}

input[type="text"] {
    text-align: left;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
}

/* Colonne dei Libri Mastri */
#colonnaAttivi, #colonnaPassivi, #colonnaCosti, #colonnaRicavi {
    min-height: 200px; /* Altezza minima per una migliore visibilità */
    background-color: #f8f9fa;
    overflow-y: auto;
}

.table-secondary {
    background-color: #f8f9fa;
    border-top: 1px solid #333;
    height: 10px;
}

/* Data divisore */
.table-secondary td {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    padding: 0 40px;
    position: relative;
}

/* Linea divisore 
.table-secondary td::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 150px; Margine data
    right: 10px;
    border-top: 1px solid #333;
    transform: translateY(-50%);
}*/