/* Rimuovi frecce numeri */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Per Firefox */
}

/* Formattazione caselle*/
input[type="number"],
input[type="text"]{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    text-align: right;
    color: #333;
    width: 100%;
    border-radius: 0.25rem;
    padding-left: 5px;
    padding-right: 6px;
}

input[type="text"] {
    text-align: left;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    border-radius: 0 !important;
    overflow-y: hidden;
}

.scrollable-col {
    overflow-y: scroll;  /* Make the content scrollable */
    height: 95vh; /* Set the height of the column */
    border-right: 1px solid #bbb;
    padding: 10px;
}

.p-2-sm {
    background-color: transparent;
    border: none;
}

/* Hide the scrollbar in WebKit browsers */
.scrollable-col::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
    background: transparent; /* Ensures no background for the scrollbar */
}

/* Optional: Apply the same for Firefox */
.scrollable-col {
    scrollbar-width: none;  /* Hides the scrollbar in Firefox */
}

/* Colonne dei Libri Mastri */
#colonnaAttivi, #colonnaPassivi, #colonnaCosti, #colonnaRicavi {
    min-height: 200px; /* Altezza minima per una migliore visibilità */
    background-color: #f8f9fa;
    overflow-y: auto;
}

.conto {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
}

.mastrino-colonna {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.table-secondary {
    border-top: 1px solid #333;
}

/* Data */
.table-secondary td {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    padding: 0 40px;
    position: relative;
}

/* Linea divisore 
.table-secondary td::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 150px; Margine data
    right: 10px;
    border-top: 1px solid #333;
    transform: translateY(-50%);
}*/